body {
  background-color: #CCE0DF;
}

.lists {
font-family: monospace;
color: #332217;
  line-height: 1.6;
}

.captions {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  color: #FF9766;
  font-style: italic;
  font-size: 25px;
}

#headers1 {
  text-align: center;
  color: #FFD4B9;
  text-shadow: 2px 2px #E09464;
  font-weight: bold;
  font-family:sans-serif;
  font-size: 70px;
}

#headers2 {
  color: #FFD4B9;
  text-shadow: 2px 2px #E09464;
  font-size: 20px;
 font-family:sans-serif;
}
