
/* FONT STYLES */
@font-face {
    font-family: 'BauerBodoni-Roman';
    src: url('project-2/fonts/BauerBodoni-Roman.otf') format('otf');
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'Marion';
    src: url('project-2/fonts/Marion-Regular.otf') format('otf'),
        url('project-2/fonts/Marion-Bold') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

      @font-face {
          font-family: 'New Romantics';
          src: url('project-2/fonts/NewRomantics.woff2') format('woff2'),
              url('project-2/fonts/NewRomantics.woff') format('woff');
          font-weight: normal;
          font-style: normal;
          font-display: swap;
      }


      @font-face {
          font-family: 'OhnoBlazeface';
          src: url('project-2/fonts/OhnoBlazeface.otf') format('otf');
          font-weight: normal;
          font-style: normal;
          font-display: swap;
      }
      @font-face {
          font-family: 'CliftonTrial-Regular';
          src: url('project-2/fonts/CliftonTrial-Regular.otf') format('otf'),
          font-weight: normal;
          font-style: normal;
        }

          @font-face {
              font-family: 'CloisterBlack-Light';
              src: url('project-2/fonts/CloisterBlack-Light.otf') format('otf');
              font-weight: 300;
              font-style: normal;
          }

          @font-face {
              font-family: 'Timelines';
              src: url('Timelines.otf') format('otf');
              font-weight: normal;
              font-style: normal;
          }

/* MEDIA STYLES */
/*big screen*/
        @media only screen and (min-width: 768px) {

          .typewriter h1 {
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: .15em solid #0B2323; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: .05em; /* Adjust as needed */
            animation:
              typing 3.5s steps(40, end),
              blink-caret .50s step-end infinite;
              text-align: center;
              font-family: "BauerBodoni-Roman";
              font-size: 15px;
              margin-left: 100px; /* Same as the width of the sidenav */
              padding: 0px 10px;
            }

            .sidenav {
              height: 115%;
            width: 93px;
            position: fixed;
            z-index: 1;
            top: -8px;
            left: -4px;
            background-color: #CFCAC9;
            overflow-x: hidden;
            padding-top: 151px;
            line-height: 86px;
            font-size: 20px;
          }

          p {
           font-size: 26px;
           font-family: "marion";
           text-align: left;
           line-height: 1.0em;
           letter-spacing: 2px;
         }

         h3 {
           font-size: 32px;
           font-family: "marion";

         }

         body {
         padding: 4px;
           padding-top: 4em;}

           #chapter2 {
             margin-left:26px; /* Same as the width of the sidenav */
             font-size:52px; /* Increased text to enable scrolling */
             padding: 0px 10px;
           }
        }
/*small screen*/
        @media only screen and (max-width: 480px) {

          p {
           font-size: 12px;
           font-family: "marion";
           text-align: left;
           line-height: 1.0em;
           letter-spacing: 5px;
         }

         h3 {
           font-size:20px;
           font-family: "marion";}


  .sidenav {  height: 128%;
    width: 122px;
    position: fixed;
    z-index: 1;
    top: 1px;
    left: -4px;
    background-color: #CFCAC9;
    overflow-x: hidden;
    padding-top: 248px;
    line-height: 139px;
    font-size: 20px;  }

    .button {
    font-family: "BauerBodoni-Roman";
    color: #000000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 93px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #CFCAC9;
  }
}


/* MAIN STYLES */

body {
padding: 4px;
  padding-top: 2em;
  display: flex;
  justify-content: left;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

}

.main {
  margin-left: 132px; /* Same as the width of the sidenav */
  font-size: 85px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#chapter2 {
  margin-left:26px; /* Same as the width of the sidenav */
  font-size:52px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  text-align: center;
  font-family: "BauerBodoni-Roman";
  font-size: 22px;
    color: #5C5C5C;
  margin-right: inherit;
padding: 0px 10px;
}


 p {
  font-size: 85px;
  font-family: "marion";
  text-align: left;
  line-height: 1.0em;
  letter-spacing: 5px;
  font-weight: lighter;
  color: #5C5C5C;
}

h3 {
  font-size: 50px;
  font-family: "marion";
  color: #4C4C4C;

}

/* LINKS & BUTTON STYLES */
a.one:link {color:#0C1EB3; text-decoration: underline;}
a.one:visited {color:#0C1EB3;}
a.one:hover {font-family: "New Romantics"; color:#8641B3; letter-spacing: 13px;text-decoration: none;}

a {
  font-family: "marion";
    color: #0012D4;
    border: none;
    padding: -5px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 78px;
    margin: 4px 2px;
    cursor: pointer;

}

a:hover {
  color: #0B00FF;
  font-family: "New Romantics";
  letter-spacing: 10px;
    text-decoration: none;
}

.button2 {
  font-family: "BauerBodoni-Roman";
    color: #000000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 49px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #CFCAC9;

}


.start {
  font-family: "BauerBodoni-Roman";
    color: #000000;
    border: none;
  padding: 12px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #CFCAC9;;

}

.start:hover {
  color: #0B00FF;
  font-family: "New Romantics";
 letter-spacing: 4px;
}

.sidenav {
  height: 115%;
    width: 93px;
    position: fixed;
    z-index: 1;
    top: -8px;
    left: -4px;
    background-color: #2B2B2B;
    overflow-x: hidden;
    padding-top: 151px;
    line-height: 86px;
    color: #DEDEDE;
    filter: drop-shadow(5px 5px 20px #535353);
}

.sidenav a {
  padding: 3px 8px 0px 16px;
    text-decoration: none;
    font-size: 33px;
    color: #000000;
    display: block;
    font-family: "Marion";
    background-color: #2B2B2B;
      color: #DEDEDE;
      letter-spacing: normal;
}


.sidenav a:hover {
  color: #618520;
  background-color: #2B2B2B;
  font-family: "NewRomantics";
}


.capital:hover {
  text-transform: uppercase; font-family: "New Romantics", color: #AE2D6A;letter-spacing: 13px;
}

.thrilling:hover {
  font-family: "New Romantics"; color: #24B036; letter-spacing: 14px;
}

.old:hover {
 font-family: "CloisterBlack-Light"; font-size: 90px; color: #331312;
}

.laws {
  font-family: "Timelines";
  font-size: 192px;
  padding: 30px;
}

.deeper:hover {
font-weight: bolder;
color: #000000;
}

strong {
  width: 197px;
  height: 80px;
border: 6px solid #373737;
text-align: center;
}

.strawberry {
  background: -webkit-linear-gradient(#B75088, #D197B7,#FFB9DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.appear {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    padding: 20px;
      filter: blur(5px);
}

.appear:hover {
    filter: blur(0px);
    cursor: pointer;
}


a.twolink {color:#0022E9; text-decoration: underline;font-family: "BauerBodoni-Roman"; font-size: 40px; background-color: none;}
a.two:visited {color:#0022E9;}
a.two:hover {font-family: "CloisterBlack-Light" ; color:#000000; letter-spacing: normal;text-decoration: none;}

a.threelink {color:#0022E9; text-decoration: underline;font-family: "BauerBodoni-Roman"; font-size: 40px; background-color: none;}
a.three:visited {color:#0022E9;}
a.three:hover {font-family: "BauerBodoni-Roman" ; color:#335C28; letter-spacing: normal;text-decoration: none;}


//* #overlay {
      position: fixed;
      opacity: 40%;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      cursor: pointer;
      content:url("paper-texture.jpg");
    }
