/* FONT STYLES */
@font-face {
    font-family: 'BauerBodoni-Roman';
    src: url('project-2/fonts/BauerBodoni-Roman.otf') format('otf');
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'Marion';
    src: url('project-2/fonts/Marion-Regular.otf') format('otf'),
        url('project-2/fonts/Marion-Bold') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

      @font-face {
          font-family: 'New Romantics';
          src: url('project-2/fonts/NewRomantics.woff2') format('woff2'),
              url('project-2/fonts/NewRomantics.woff') format('woff');
          font-weight: normal;
          font-style: normal;
          font-display: swap;
      }


      @font-face {
          font-family: 'OhnoBlazeface';
          src: url('project-2/fonts/OhnoBlazeface.otf') format('otf');
          font-weight: normal;
          font-style: normal;
          font-display: swap;
      }
      @font-face {
          font-family: 'CliftonTrial-Regular';
          src: url('project-2/fonts/CliftonTrial-Regular.otf') format('otf'),
          font-weight: normal;
          font-style: normal;
        }

          @font-face {
              font-family: 'CloisterBlack-Light';
              src: url('project-2/fonts/CloisterBlack-Light.otf') format('otf');
              font-weight: 300;
              font-style: normal;
          }

          @font-face {
              font-family: 'Timelines';
              src: url('Timelines.otf') format('otf');
              font-weight: normal;
              font-style: normal;
          }




        @media only screen and (max-width: 375px) {
body {
  padding: 4px;
    padding-top: 4em;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

}
          p {
           font-size: 12px;
           font-family: "marion";
           text-align: left;
           line-height: 1.0em;
           letter-spacing: 5px;
         }

         h3 {
           font-size:20px;
           font-family: "marion";}
         }


  .sidenav {      height: 115%;
    width: 139px;
    position: fixed;
    z-index: 1;
    top: -8px;
    left: -4px;
    background-color: #2B2B2B;
    overflow-x: hidden;
    padding-top: 151px;
    line-height: 86px;
    color: #DEDEDE;
    filter: drop-shadow(5px 5px 20px #535353);
  }

    .button {
    font-family: "BauerBodoni-Roman";
    color: #000000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 93px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #CFCAC9;
  }
}


/* MAIN STYLES */

body {
padding: 4px;
  padding-top: 2em;
  display: flex;
  justify-content: left;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

}

.main {
  margin-left: 132px; /* Same as the width of the sidenav */
  font-size: 85px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#chapter1 {
  margin-left:26px; /* Same as the width of the sidenav */
  font-size: 85px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  text-align: center;
  font-family: "BauerBodoni-Roman";
  font-size: 22px;
    color: #5C5C5C;
  margin-right: inherit;
padding: 0px 10px;
}



 p {
  font-size: 85px;
  font-family: "marion";
  text-align: left;
  line-height: 1.0em;
  letter-spacing: 5px;
  font-weight: lighter;
  color: #5C5C5C;
}

h3 {
  font-size: 50px;
  font-family: "marion";
  color: #4C4C4C;

}

/* LINKS & BUTTON STYLES */
a.two:link {color:#171512; text-decoration: underline; font-size: 40px;}
a.two:visited {color:#59569A;}
a.two:hover {font-family: "New Romantics" ; font-size: 40px; color:#59569A; letter-spacing: 13px;text-decoration: none;}

a {
  font-family: "marion";
    color: #0012D4;
    border: none;
    padding: -5px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 78px;
    margin: 4px 2px;
    cursor: pointer;

}

a:hover {
  color: #0B00FF;
  font-family: "New Romantics";
  letter-spacing: 10px;
    text-decoration: none;
}

.button2 {
  font-family: "BauerBodoni-Roman";
    color: #000000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 49px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #CFCAC9;

}

.button2:hover {
  color: #0B00FF;
  font-family: "New Romantics";
  letter-spacing: 4px;
}

.button3 {
  font-family: "BauerBodoni-Roman";
    color: #000000;
    border: none;
  padding: 12px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 49px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #CFCAC9;;

}

.button3:hover {
  color: #0B00FF;
  font-family: "New Romantics";
 letter-spacing: 4px;
}

.start {
  font-family: "BauerBodoni-Roman";
    color: #000000;
    border: none;
  padding: 12px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #CFCAC9;;

}

.start:hover {
  color: #0B00FF;
  font-family: "New Romantics";
 letter-spacing: 4px;
}

.sidenav {
  height: 115%;
    width: 93px;
    position: fixed;
    z-index: 1;
    top: -8px;
    left: -4px;
    background-color: #2B2B2B;
    overflow-x: hidden;
    padding-top: 151px;
    line-height: 86px;
    color: #DEDEDE;
    filter: drop-shadow(5px 5px 20px #535353);
}

.sidenav a {
  padding: 3px 8px 0px 16px;
    text-decoration: none;
    font-size: 33px;
    color: #000000;
    display: block;
    font-family: "Marion";
    background-color: #2B2B2B;
      color: #DEDEDE;
}

.sidenav a:hover {
  color: #618520;
  background-color: #2B2B2B;
  font-family: "NewRomantics";
  letter-spacing: normal;
}


.spaces {
  font-family: "New Romantics"; font-size: 90px; color: #AE2D6A;letter-spacing: 13px
}

.not {
  font-family: "OhnoBlazefaceDemo"; font-weight: bold;
}
.emphasis {
  font-style: italic; font-family: "CliftonTrial-Regular"; font-size: 60px;
}

.italic {
  font-style: italic;
  text-transform: uppercase;
}



.written {
  font-family: "Timelines";
  font-size: 220px;
  padding: 29px;
  color: #3E3D3D;
}

.bold {
font-size: 100px;
}

.color1 {
  color: #3E7797;
   font-family: "CloisterBlack-Ligh";
}

.dimensions {
  text-decoration: underline;
     transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;

}

.dimensions:hover {
  color: #201A9A;
  	transform: rotate(-15deg);
    cursor: pointer;


}
.ignores {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.ignores {
  filter: blur(5px);
}


strong {
  width: 197px;
  height: 80px;
border: 6px solid #373737;
text-align: center;
}

strong:hover {
  color: #9A1313;
}

.spacetime {
  font-family: "NewRomantics";
  color: #203A58;
}

a.twolink {color:#0022E9; text-decoration: underline;font-family: "BauerBodoni-Roman"; font-size: 40px; background-color: none;}
a.two:visited {color:#0022E9;}
a.two:hover {font-family: "BauerBodoni-Roman" ; font-size: 40px; color:#618520; letter-spacing: 13px;text-decoration: none;}'


a.threelink {color:#0022E9; text-decoration: underline;font-family: "BauerBodoni-Roman"; font-size: 40px; background-color: none;}
a.three:visited {color:#0022E9;}
a.three:hover {font-family: "New Romantics";}'
