@font-face {
    font-family: 'BauerBodoni-Roman';
    src: url('project-2/fonts/BauerBodoni-Roman.otf') format('otf');
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'Marion';
    src: url('project-2/fonts/Marion-Regular.otf') format('otf'),
        url('project-2/fonts/Marion-Bold') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

      @font-face {
          font-family: 'New Romantics';
          src: url('project-2/fonts/NewRomantics.woff2') format('woff2'),
              url('project-2/fonts/NewRomantics.woff') format('woff');
          font-weight: normal;
          font-style: normal;
          font-display: swap;
      }


      @font-face {
          font-family: 'CloisterBlack-Light';
          src: url('project-2/fonts/CloisterBlack-Light.otf') format('otf');
          font-weight: 300;
          font-style: normal;
          font-display: swap;
      }


body {
padding: 2px;
  padding-top: 2em;
  display: flex;
  justify-content: center;
background-color: #CEC6BE;

}



.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #0B2323; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .50s step-end infinite;
    text-align: center;
    font-family: "BauerBodoni-Roman";
    font-size: 55px;

}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0B2323; }
}


h3 {
  font-size: 60px;
font-family: "BauerBodoni-Roman";
text-align: left;
line-height:0.7em;
letter-spacing: 5px;
}

a.one:link {color:#171512; text-decoration: none}
a.one:visited {color:#171512;}
a.one:hover {font-size:150%; font-family: "New Romantics" ; font-size: 80px; color:#618520; letter-spacing: 13px;}

a.two:link {color:#2426CE; text-decoration: underline;}
a.two:visited {color:#171512;}
a.two:hover {font-family: "CloisterBlack-Light"; font-size: 60px; text-decoration: none; color: #070726;}


//* #overlay {
      position: fixed;
      opacity: 40%;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      cursor: pointer;
      content:url("paper-texture.jpg");
    }
