@font-face {
    font-family: 'BauerBodoni-Roman';
    src: url('project-2/fonts/BauerBodoni-Roman.otf') format('otf');
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'Marion';
    src: url('project-2/fonts/Marion-Regular.otf') format('otf'),
        url('project-2/fonts/Marion-Bold') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

      @font-face {
          font-family: 'New Romantics';
          src: url('project-2/fonts/NewRomantics.woff2') format('woff2'),
              url('project-2/fonts/NewRomantics.woff') format('woff');
          font-weight: normal;
          font-style: normal;
          font-display: swap;
      }


      @font-face {
          font-family: 'CloisterBlack-Light';
          src: url('project-2/fonts/CloisterBlack-Light.otf') format('otf');
          font-weight: 300;
          font-style: normal;
          font-display: swap;
      }


      @media only screen and (min-width: 768px) {

        .typewriter h1 {
          overflow: hidden; /* Ensures the content is not revealed until the animation */
          border-right: .15em solid #0B2323; /* The typwriter cursor */
          white-space: nowrap; /* Keeps the content on a single line */
          margin: 0 auto; /* Gives that scrolling effect as the typing happens */
          letter-spacing: .05em; /* Adjust as needed */
          animation:
            typing 3.5s steps(40, end),
            blink-caret .50s step-end infinite;
            text-align: center;
            font-family: "BauerBodoni-Roman";
            font-size: 15px;
            margin-left: 100px; /* Same as the width of the sidenav */
            padding: 0px 10px;
          }

          .sidenav {
            height: 115%;
          width: 93px;
          position: fixed;
          z-index: 1;
          top: -8px;
          left: -4px;
          background-color: #CFCAC9;
          overflow-x: hidden;
          padding-top: 151px;
          line-height: 86px;
          font-size: 20px;
        }

        p {
         font-size: 26px;
         font-family: "marion";
         text-align: left;
         line-height: 1.0em;
         letter-spacing: 2px;
       }

       h3 {
         font-size: 32px;
         font-family: "marion";

       }

       body {
       padding: 4px;
         padding-top: 4em;}

         #chapter4 {
           margin-left:26px; /* Same as the width of the sidenav */
           font-size:52px; /* Increased text to enable scrolling */
           padding: 0px 10px;
         }
      }
    /*small screen*/
      @media only screen and (max-width: 480px) {

        .typewriter h1 {
          overflow: hidden; /* Ensures the content is not revealed until the animation */
          border-right: .15em solid #0B2323; /* The typwriter cursor */
          white-space: nowrap; /* Keeps the content on a single line */
          margin: 0 auto; /* Gives that scrolling effect as the typing happens */
          letter-spacing: .05em; /* Adjust as needed */
          animation:
            typing 3.5s steps(40, end),
            blink-caret .50s step-end infinite;
            text-align: center;
            font-family: "BauerBodoni-Roman";
            font-size: 15px;
            margin-left: 100px; /* Same as the width of the sidenav */
            padding: 0px 10px;
          }
        p {
         font-size: 12px;
         font-family: "marion";
         text-align: left;
         line-height: 1.0em;
         letter-spacing: 5px;
       }

       h3 {
         font-size:70px;
         font-family: "marion";
         text-align: left;
       }
       .chapters {
         font-size: 50px;
       font-family: "BauerBodoni-Roman";
       text-align: left;
       line-height:0.7em;
       letter-spacing: 5px;
       padding-left: 60px;
       color: #5C5C5C;
}
}


    .sidenav {  height: 128%;
    width: 122px;
    position: fixed;
    z-index: 1;
    top: 1px;
    left: -4px;
    background-color: #CFCAC9;
    overflow-x: hidden;
    padding-top: 248px;
    line-height: 139px;
    font-size: 20px;  }

    .button {
    font-family: "BauerBodoni-Roman";
    color: #000000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 93px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #CFCAC9;
    }
    }


      body {
      padding: 4px;
        padding-top: 2em;
        display: flex;
        justify-content: left;
        background-color: #ffffff;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

      }


.typewriter h1 {
  overflow: hidden;
  border-right: .07em solid #232323;
    white-space: nowrap;
    margin: -17px auto;
    letter-spacing: .05em;
    animation: typing 3.5s steps(40, end), blink-caret .50s step-end infinite; */
    text-align: center;
    font-family: "BauerBodoni-Roman";
    font-size: 50px;
    padding: 19px 49px;
    position: relative;
    right: 0;
    top: 2;
    color: #4C4C4C;

}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0B2323; }
}
h2 {
  font-size: 65px;
      font-family: "BauerBodoni-Roman";
      text-align: left;
      line-height: -0.3em;
      letter-spacing: 5px;
      padding-left: 74px;
      color: #5C5C5C;
}

.chapters {
  font-size: 50px;
font-family: "BauerBodoni-Roman";
text-align: left;
line-height:0.7em;
letter-spacing: 5px;
padding-left: 60px;
color: #5C5C5C;

}

h3 {
  font-size: 30px;
  font-family: "BauerBodoni-Roman";
  text-align: left;
  line-height:0.7em;
  letter-spacing: 5px;
  padding-left: 60px;
  color: #5C5C5C;
}


hr.thin {
  height: 3px;
      border: 0;
      color: #757575;
      background-color: #757575;
      width: 103%;
}

a.one:link {color:#5C5C5C; text-decoration: none}
a.one:visited {color:#5C5C5C;}
a.one:hover {font-family: "New Romantics"; color:#618520; letter-spacing: 20px;}

a.two:link {color:#5C5C5C; text-decoration: none}
a.two:visited {color:#5C5C5C;}
a.two:hover {font-family: "New Romantics"; color:#9454A4; text-decoration: none; letter-spacing: 20px;}

a.three:link {color:#5C5C5C; text-decoration: none}
a.three:visited {color:#5C5C5C;}
a.three:hover {font-family: "New Romantics"; color:#1C618F; text-decoration: none; letter-spacing: 20px;}

a.four:link {color:#5C5C5C; text-decoration: none}
a.four:visited {color:#5C5C5C;}
a.four:hover {font-family: "New Romantics"; color:#BA254B; text-decoration: none; letter-spacing: 20px;}


a.five:link {color:#5C5C5C; text-decoration: none}
a.five:visited {color:#5C5C5C;}
a.five:hover {font-family: "New Romantics"; color:#B2BA25; text-decoration: none; letter-spacing: 20px;}

a.six:link {color:#5C5C5C; text-decoration: none}
a.six:visited {color:#5C5C5C;}
a.six:hover {font-family: "New Romantics"; color:#E4A564; text-decoration: none; letter-spacing: 20px;}

@media only screen and (max-width: 480px) {

  p {
   font-size: 12px;
   font-family: "marion";
   text-align: left;
   line-height: 1.0em;
   letter-spacing: 5px;
 }

 h3 {
   font-size:20px;
   font-family: "marion";}

   body {
   padding: 4px;
     padding-top: 2em;
     display: flex;
     justify-content: left;
     background-color: #ffffff;
     background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

   }
 }
